{{> head }}

{{> navbar }}

<div class="row">
	<div class="col-8">
		<h1>Planta 5</h1>
	</div>

	<div class="col-4">
		<img src="/assets/img/5to-piso-sectorizado.png" class="img-thumbnail" >
	</div>

</div>


{{> footer }}
